body {
    font-family: Ariel, sans-serif;
    background-color:#001f27;
    color:#C7D3DC;
    margin:0;
    padding:0;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
header {
    text-align: start;
    padding: 50px 0;
}
header h1 {
    font-size: 2.5em;
}
.cta-button {
    display: inline-block;
    background-color: #00C9A7;
    color: #FFFF;
    padding: 10PX 20PX;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 60px;
}
.trusted-brands {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}
.trusted-brands img {
    max-width: 100px;
}
.features {
    text-align: center;
    margin: 50px 0;
}
